<div class="contenedor">
    <div class="formulario">
        <header class="titulo">
            <h4>LOGIN</h4>
        </header>
        <section class="descripcion">
            <p>¡Bienvenido de vuelta!</p>
        </section>

        <form [formGroup]="LoginForm">
            <section class="inputs">
                <div class="input">
                    <div class="contenido_input" [ngClass]="{'wrong': wrong}">
                        <i class="bi bi-envelope"></i><input type="text" placeholder="email@dominio.com"
                            formControlName="email" required>
                    </div>
                </div>
                
                <div class="input">
                    <div class="contenido_input" [ngClass]="{'wrong': wrong}">
                        <i class="bi bi-shield-lock"></i><input type="password" placeholder="Min - 8; Max - 30"
                            formControlName="password" required>
                    </div>
                </div>
                <p style="color: red;" *ngIf="wrong_password"><i class="ti ti-exclamation-circle"></i> Contraseña incorrecta</p>

                <div class="input">
                    <button class="btn bg-blue col-5" type="submit" (click)="Loguear()" [disabled]="!LoginForm.valid">Log In</button>
                </div>

                <span style="color: red;" *ngIf="user_not_found">
                    <i class="ti ti-exclamation-circle"></i> Tu cuenta no existe, es necesario <a routerLink="registro">registrarse.</a>
                </span>

                <div class="input">
                    <div class="contenido_checkbox">
                        <div class="slideOne">
                            <input type="checkbox" value="None" id="slideOne" name="check"formControlName="recordar" />
                            <label for="slideOne"></label>
                        </div>
                        <span>Recordarmelo más tarde</span>
                    </div>
                </div>

            </section>

            <section class="GoogleLogin">
                <button class="btn bg-white" (click)="GoogleLogin()"><i class="ti ti-brand-google"></i>Login with
                    Google</button>
                <button class="btn bg-blue" (click)="Facebook()"><i class="ti ti-brand-meta"></i>Login with Facebook</button>
            </section>
        </form>
    </div>

    <div class="alerta alerta-danger" [ngClass]="{'show-alert': alert_danger}">
        <p><i class="bi bi-exclamation-diamond"></i> No es posible loguearse, revisa tus datos.</p>
    </div>
    <div class="alerta alerta-success" [ngClass]="{'show-alert': alert_success}">
        <p>Te has registrado correctamente <i class="ti ti-checks"></i></p>
    </div>

</div>
<div class="registro">
    <a routerLink="/registro">Registrarse</a>
</div>