<div class="contenedor">
    <div class="formulario">
        <header class="titulo">
            <h4>LOGIN</h4>
        </header>
        <section class="descripcion">
            <p>¡Logueate para entrar a nuestras preguntas y respuestas!</p>
        </section>

        <section class="inputs">
            <div class="input">
                input
            </div>
            <div class="input">
                input
            </div>
        </section>

        <section class="GoogleLogin">
            <button class="btn"><i class="ti ti-brand-google"></i>Login with google </button>
        </section>

    </div>
</div>