<div class="body">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="ti ti-layout-dashboard"></i> <span>Form Builder<span
                        class="cursor">|</span></span></a>
        </div>
        <div class="bienvenida">
            <!-- <span *ngIf="nombre">¡Welcome back, {{nombre}}!</span> -->
            <!-- <span *ngIf="!nombre">¡Welcome back!</span> -->
        </div>
    </nav>

    <div class="contenido">
        <router-outlet></router-outlet>
    </div>
</div>