<div class="body">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">
        <span class="material-symbols-outlined icon">
          dashboard
        </span>
        <span>Form <span class="title-text"></span></span></a>
    </div>
    <div class="bienvenida">
      <span *ngIf="nombre">¡Bienvenido de vuelta, {{nombre}}!</span>
      <span *ngIf="!nombre">¡Bienvenido!</span>
    </div>
    <button (click)="CerrarSesion()" class="btn"
      style="width: 240px; margin-left: 10px; background: var(--dark-blue);">Cerrar sesión
      <span class="material-symbols-outlined">
        logout
      </span>
    </button>
  </nav>

  <div class="contenido">
    <router-outlet></router-outlet>
  </div>

  <!-- FOOTER -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/andre.ponce.1694" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->  
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/AndrePonc_e" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/a.n.d.r.e.p.o.n.c.e/" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/andre-ponce-242498181/" role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="http://github.com/andreponce3322" role="button"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">https://andrepg.com</a>
    </div>
    <!-- Copyright -->
  </footer>