/* You can add global styles to this file, and also import other style files */

:root{
    --white: #EEEEEE;
    --black: #252A34;
    --gray: #9b9b9b;
}

.btn{
    border-radius: 3px;
    background: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn:hover{
    background: whitesmoke;
    color: var(--black);
}
.btn:active{
    background: white !important;
    color: var(--black) !important;
}