<div class="contenedor">
    <div class="formulario">
        <header class="titulo">
            <h4>REGISTRO</h4>
        </header>
        <section class="descripcion">
            <p>¡Registrate para entrar a nuestras preguntas y respuestas!</p>
        </section>

        <form [formGroup]="RegisterForm">
            <section class="inputs">
                <div class="input">
                    <div class="contenido_input">
                        <i class="bi bi-envelope"></i><input type="text" placeholder="email@dominio.com"
                            formControlName="email" required>
                    </div>
                </div>
                
                <div class="input">
                    <div class="contenido_input">
                        <i class="bi bi-shield-lock"></i><input type="password" placeholder="Min - 8; Max - 30"
                            formControlName="password" required>
                    </div>
                </div>

                <div class="input">
                    <button class="btn bg-blue col-5" type="submit" (click)="Registrar()" [disabled]="!RegisterForm.valid">Registrarse</button>
                </div>

                <div class="input">
                    <div class="contenido_checkbox">
                        <div class="slideOne">
                            <input type="checkbox" value="None" id="slideOne" name="check" />
                            <label for="slideOne"></label>
                        </div>
                        <span>Recordarmelo más tarde</span>
                    </div>
                </div>

            </section>

            <section class="GoogleLogin">
                <button class="btn bg-white" (click)="GoogleLogin()"><i class="ti ti-brand-google"></i>Registrarse</button>
                <button class="btn bg-blue"><i class="ti ti-brand-meta"></i>Registrarse</button>
            </section>
        </form>
    </div>
</div>